// ------------------------------
// MEDIA QUERIES
// ------------------------------


@media all and (min-width: 1300px) {

  .content-wrapper {
    margin-left: 530px;
  }

}

// ------------------------------
// < 340px
// ------------------------------

@media all and (max-width: 340px) {

  .panel-main__inner {
    padding: 0 5%;
  }

  .panel-title {
    margin-bottom: .1em;
    font-size: 1.5em;
  }

  .panel-subtitle {
    font-size: .9em;
  }

  .btn {
    display: block;
    margin-bottom: .4em;
  }

}
