{{ $autoplay := .Get "autoplay" -}}
{{ $caption := .Get "caption" -}}
{{ $class := .Get "class" -}}
{{ $loop := .Get "loop" -}}
{{ $poster := .Get "poster" -}}
{{ $preload := .Get "preload" | default "metadata" -}}
{{ $src := .Get "src" -}}
{{ $width := .Get "width" -}}

{{ $posterres := false -}}
{{ $resource := false -}}
{{ $static := false -}}
{{ $type := false -}}


{{ if $resource -}}
  {{ $src = $resource.RelPermalink -}}
  {{ $type = $resource.MediaType -}}
{{ end -}}

{{ if $posterres -}}
  {{ if $width -}}
    {{ $image := $posterres.Resize (printf "%sx" $width) -}}
    {{ $poster = $image.RelPermalink -}}
  {{ else -}}
    {{ $poster = $posterres.RelPermalink -}}
  {{ end -}}
{{ end -}}


<figure class="video{{ with $class }} {{ . }}{{ end }}">
<video controls preload="{{ $preload }}" {{ with $width }}width="{{ . }}"{{ end }} {{ with $poster }}poster="{{ . }}"{{ end }} {{ with $autoplay }}autoplay="{{ . }}"{{ end }} {{ with $loop }}loop="{{ . }}"{{ end }}>
<source src="{{ $src }}" {{ with $type }}type="{{ . }}"{{ end }}>
<p>
  Your browser doesn't support HTML video. Here is a
  <a href="{{ $src }}" download="{{ $src }}">link to the video</a> instead.
</p>
</video>
{{ with $caption -}}
<figcaption>{{ . | markdownify }}</figcaption>
{{ end -}}
</figure>