<div class="sharing">
<p>© Heri Rakotomalala. All rights reserved. Powered by <a href="https://www.digitalocean.com/?refcode=ef57f6ccd2d8">Digital Ocean</a></p>

<p>Heri Rakotomalala is an engineer working on web and mobile technology. Originally from Madagascar, he has lived 7 years in East Africa, studied Engineering and made friends in France, built a community building in Esteli, Nicaragua and is taking pictures and coding in Montréal, Canada. This site cover technology work. You can also find travel <a href="http://klaio.com/en/users/1/collections">reports on Klaio</a>.</p>

</div>
