{{ partial "head.html" . }}

<body>
  {{ partial "sidebar.html" . }}
  <div class="content-wrapper">
    <div class="content-wrapper__inner">
      <div class="post">
        <h1>{{ .Title }}</h1>
        <span class="post-date">{{ if .Date }}{{ .Date.Format "Mon, Jan 2, 2006" }}{{ else if .Params.subtitle }}{{ .Params.subtitle }}{{ end }}</span>
        {{ .Content }}
        <div class="post-tags">{{ range (.GetTerms "tags") }}<a href="{{ .Permalink }}" >{{ .LinkTitle }}</a>        {{ end}}</div>
        {{ partial "sharing.html" . }}
        {{ partial "comments.html" .}}
      </div>
    </div>
  </div>

</body>
{{ partial "script.html" .}}

</html>