<nav class="cover-navigation navigation--social">
    <ul class="navigation">

        <li class="navigation__item">
            <a href="https://twitter.com/{{ .Site.Params.twitter }}" title="@{{ .Site.Params.twitter }} on Twitter" rel="me nofollow"> <i
                    class='fa fa-twitter'></i> <span class="label">Twitter</span> </a>
        </li>

        <li class="navigation__item">
            <a href="https://github.com/{{ .Site.Params.github }}" title="{{ .Site.Params.github }} on github" rel="me authn nofollow"> <i
                    class='fa fa-github'></i> <span class="label">Github</span> </a>
        </li>

        <li class="navigation__item">
            <a href="https://www.instagram.com/heri_rakotomalala/" rel="nofollow" title="Heri on instagram"><i class="fa fa-instagram"></i><span
                class="label">Instagram</span></a>
        </li>

        <li class="navigation__item">
            <a href="mailto:{{ .Site.Params.email }}" title="Email" rel="nofollow"> <i
                    class='fa fa-envelope-o'></i> <span class="label">Email</span> </a>
        </li>
    </ul>
</nav>
